* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: auto !important;
}

main {
  flex: 1 0 auto;
  min-height: 90vh;
  background-image: url('/images/background_one.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 64px);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

a {
  color: black;
}

label {
  color: black;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-wrapper .fa-bars {
  font-size: 25px;
}

footer {
  margin-top: 20px;
}

.app-text {
  height: 120px;
}

.dash-status {
  text-transform: capitalize;
}

.delete-app {
  display: inline;
}

.login {
  color: hotpink !important;
}

.app_description {
  height: 150px;
  display: flex !important;
  align-self: center !important;
  justify-content: center !important;
}

#profile-picture{
  background-image: url('/images/profile_bw.jpg');
  background-size: cover;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-top: 40px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: grey !important;
}

footer {
  margin-top: 0 !important;
}