<h1>Welcome</h1>
<p>Thanks for Visiting</p>
<p>This is a website where I upload mini applications that I made for fun and would like to share with anybody who would like to see it</p>
<p>Please log in with your Google account if you would like to leave comments</p>
{{#if user}}
{{else}}
  <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}